{XT:}include file="../header.html"{/XT}

    <title>
        管理中心 - 首页
    </title>
</head>

<body style="margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; height:100%;">
	<div class="container" id="cpcontainer">
        <script type="text/JavaScript">
            parent.document.title = 'Discuz! Board 管理中心 - 全局 - 导航设置';
            if (parent.$('admincpnav')) parent.$('admincpnav').innerHTML = '全局&nbsp;&raquo;&nbsp;导航设置&nbsp;&nbsp;<a target="main" title="添加到常用操作" href="admin.php?action=misc&operation=custommenu&do=add&title=%E5%AF%BC%E8%88%AA%E8%AE%BE%E7%BD%AE&url=action%253Dnav%2526operation%253Dheadernav%2526do%253Dedit%2526id%253D2">[+]</a>';
        </script>
        {XT:}include file="./top.html"{/XT}
        <div class="floattopempty">
        </div>
        <form name="cpform" method="post" autocomplete="off" action="admin.php?action=nav&amp;operation=headernav&amp;do=edit&amp;id=2"id="cpform" enctype="multipart/form-data">
            <input name="formhash" value="f40ec0d7" type="hidden">
            <input id="formscrolltop" name="scrolltop" value="" type="hidden">
            <input name="anchor" value="" type="hidden">
            <table class="tb tb2 ">
                <tbody>
                    <tr>
                        <th colspan="15" class="partition">
                            主导航 - 论坛
                        </th>
                    </tr>
                    <tr onmouseover="setfaq(this, 'faq7020')">
                        <td colspan="2" class="td27" s="1">
                            导航名称:
                            <a id="faq7020" class="faq" title="查看更多提示" href="http://faq.comsenz.com/?type=admin&amp;ver=X3.2&amp;action=nav&amp;operation=headernav&amp;key=misc_customnav_name"target="_blank" style="display: none;">
                                &nbsp;&nbsp;&nbsp;
                            </a>
                        </td>
                    </tr>
                    <tr class="noborder" onmouseover="setfaq(this, 'faq7020')">
                        <td class="vtop rowform">
                            <input name="namenew" value="论坛" class="txt" type="text">
                        </td>
                        <td class="vtop tips2" s="1">
                        </td>
                    </tr>
                    <tr onmouseover="setfaq(this, 'faqdfda')">
                        <td colspan="2" class="td27" s="1">
                            导航位置:
                            <a id="faqdfda" class="faq" title="查看更多提示" href="http://faq.comsenz.com/?type=admin&amp;ver=X3.2&amp;action=nav&amp;operation=headernav&amp;key=misc_customnav_parent"target="_blank" style="display:none">
                                &nbsp;&nbsp;&nbsp;
                            </a>
                        </td>
                    </tr>
                    <tr class="noborder" onmouseover="setfaq(this, 'faqdfda')">
                        <td class="vtop rowform">
                            <select name="parentidnew">
                                <option value="0" selected="selected">
                                    主导航
                                </option>
                                <option value="1">
                                    &nbsp;&nbsp;门户
                                </option>
                                <option value="10">
                                    &nbsp;&nbsp;导读
                                </option>
                                <option value="9">
                                    &nbsp;&nbsp;广播
                                </option>
                                <option value="5">
                                    &nbsp;&nbsp;游戏
                                </option>
                                <option value="3">
                                    &nbsp;&nbsp;群组
                                </option>
                                <option value="4">
                                    &nbsp;&nbsp;动态
                                </option>
                                <option value="7">
                                    &nbsp;&nbsp;帮助
                                </option>
                                <option value="11">
                                    &nbsp;&nbsp;淘帖
                                </option>
                                <option value="12">
                                    &nbsp;&nbsp;日志
                                </option>
                                <option value="13">
                                    &nbsp;&nbsp;相册
                                </option>
                                <option value="14">
                                    &nbsp;&nbsp;分享
                                </option>
                                <option value="15">
                                    &nbsp;&nbsp;记录
                                </option>
                                <option value="8">
                                    &nbsp;&nbsp;排行榜
                                </option>
                            </select>
                        </td>
                        <td class="vtop tips2" s="1">
                            设置此导航的位于哪个主导航下面
                        </td>
                    </tr>
                    <tr onmouseover="setfaq(this, 'faq7a1e')">
                        <td colspan="2" class="td27" s="1">
                            导航说明:
                            <a id="faq7a1e" class="faq" title="查看更多提示" href="http://faq.comsenz.com/?type=admin&amp;ver=X3.2&amp;action=nav&amp;operation=headernav&amp;key=misc_customnav_title"target="_blank" style="display:none">
                                &nbsp;&nbsp;&nbsp;
                            </a>
                        </td>
                    </tr>
                    <tr class="noborder" onmouseover="setfaq(this, 'faq7a1e')">
                        <td class="vtop rowform">
                            <input name="titlenew" value="BBS" class="txt" type="text">
                        </td>
                        <td class="vtop tips2" s="1">
                            导航的说明会在鼠标移动到其上面时显示
                        </td>
                    </tr>
                    <tr onmouseover="setfaq(this, 'faq4026')">
                        <td colspan="2" class="td27" s="1">
                            <span class="lightfont">
                                导航链接:
                            </span>
                            <a id="faq4026" class="faq" title="查看更多提示" href="http://faq.comsenz.com/?type=admin&amp;ver=X3.2&amp;action=nav&amp;operation=headernav&amp;key=misc_customnav_url"target="_blank" style="">
                                &nbsp;&nbsp;&nbsp;
                            </a>
                        </td>
                    </tr>
                    <tr class="noborder" onmouseover="setfaq(this, 'faq4026')">
                        <td class="vtop rowform">
                            <input name="urlnew" value="forum.php" class="txt" readonly="readonly"type="text">
                        </td>
                        <td class="vtop tips2" s="1">
                            设置导航的链接，可填写站内、站外的链接地址
                            <br>
                            <span class="smalltxt" style="color:#F00">
                            </span>
                        </td>
                    </tr>
                    <tr onmouseover="setfaq(this, 'faq5fcb')">
                        <td colspan="2" class="td27" s="1">
                            导航字体样式:
                            <a id="faq5fcb" class="faq" title="查看更多提示" href="http://faq.comsenz.com/?type=admin&amp;ver=X3.2&amp;action=nav&amp;operation=headernav&amp;key=misc_customnav_style"target="_blank" style="display:none">
                                &nbsp;&nbsp;&nbsp;
                            </a>
                        </td>
                    </tr>
                    <tr class="noborder" onmouseover="setfaq(this, 'faq5fcb')">
                        <td class="vtop rowform">
                            <ul class="nofloat" onmouseover="altStyle(this);">
                                <li>
                                    <input class="checkbox" name="stylenew[1]" value="1" type="checkbox">
                                    &nbsp;
                                    <span style="text-decoration: underline;">
                                        下划线
                                    </span>
                                </li>
                                <li>
                                    <input class="checkbox" name="stylenew[2]" value="1" type="checkbox">
                                    &nbsp;
                                    <em style="font-style: italic;">
                                        斜体
                                    </em>
                                </li>
                                <li>
                                    <input class="checkbox" name="stylenew[3]" value="1" type="checkbox">
                                    &nbsp;
                                    <strong style="font-weight: bold; color: #000;">
                                        粗体
                                    </strong>
                                </li>
                            </ul>
                        </td>
                        <td class="vtop tips2" s="1">
                        </td>
                    </tr>
                    <tr onmouseover="setfaq(this, 'faqf93c')">
                        <td colspan="2" class="td27" s="1">
                            导航字体颜色:
                            <a id="faqf93c" class="faq" title="查看更多提示" href="http://faq.comsenz.com/?type=admin&amp;ver=X3.2&amp;action=nav&amp;operation=headernav&amp;key=misc_customnav_style_color"target="_blank" style="display:none">
                                &nbsp;&nbsp;&nbsp;
                            </a>
                        </td>
                    </tr>
                    <tr class="noborder" onmouseover="setfaq(this, 'faqf93c')">
                        <td colspan="2" class="vtop rowform">
                            <ul class="nofloat" onmouseover="altStyle(this);" style="width: 790px">
                                <li class="checked" style="float: left; width: 18%">
                                    <input class="radio" name="colornew" value="0" checked="checked" type="radio">
                                    &nbsp;
                                    <span style="color: LINK;">
                                        Default
                                    </span>
                                </li>
                                <li style="float: left; width: 18%">
                                    <input class="radio" name="colornew" value="1" type="radio">
                                    &nbsp;
                                    <span style="color: Red;">
                                        Red
                                    </span>
                                </li>
                                <li style="float: left; width: 18%">
                                    <input class="radio" name="colornew" value="2" type="radio">
                                    &nbsp;
                                    <span style="color: Orange;">
                                        Orange
                                    </span>
                                </li>
                                <li style="float: left; width: 18%">
                                    <input class="radio" name="colornew" value="3" type="radio">
                                    &nbsp;
                                    <span style="color: Yellow;">
                                        Yellow
                                    </span>
                                </li>
                                <li style="float: left; width: 18%">
                                    <input class="radio" name="colornew" value="4" type="radio">
                                    &nbsp;
                                    <span style="color: Green;">
                                        Green
                                    </span>
                                </li>
                                <li style="float: left; width: 18%">
                                    <input class="radio" name="colornew" value="5" type="radio">
                                    &nbsp;
                                    <span style="color: Cyan;">
                                        Cyan
                                    </span>
                                </li>
                                <li style="float: left; width: 18%">
                                    <input class="radio" name="colornew" value="6" type="radio">
                                    &nbsp;
                                    <span style="color: Blue;">
                                        Blue
                                    </span>
                                </li>
                                <li style="float: left; width: 18%">
                                    <input class="radio" name="colornew" value="7" type="radio">
                                    &nbsp;
                                    <span style="color: Purple;">
                                        Purple
                                    </span>
                                </li>
                                <li style="float: left; width: 18%">
                                    <input class="radio" name="colornew" value="8" type="radio">
                                    &nbsp;
                                    <span style="color: Gray;">
                                        Gray
                                    </span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr onmouseover="setfaq(this, 'faq9db1')">
                        <td colspan="2" class="td27" s="1">
                            导航打开方式:
                            <a id="faq9db1" class="faq" title="查看更多提示" href="http://faq.comsenz.com/?type=admin&amp;ver=X3.2&amp;action=nav&amp;operation=headernav&amp;key=misc_customnav_url_open"target="_blank" style="display:none">
                                &nbsp;&nbsp;&nbsp;
                            </a>
                        </td>
                    </tr>
                    <tr class="noborder" onmouseover="setfaq(this, 'faq9db1')">
                        <td class="vtop rowform">
                            <ul onmouseover="altStyle(this);">
                                <li class="checked">
                                    <input class="radio" name="targetnew" value="0" checked="checked" type="radio">
                                    &nbsp;在本窗口打开
                                </li>
                                <li>
                                    <input class="radio" name="targetnew" value="1" type="radio">
                                    &nbsp;在新窗口打开
                                </li>
                            </ul>
                        </td>
                        <td class="vtop tips2" s="1">
                        </td>
                    </tr>
                    <tr onmouseover="setfaq(this, 'faqd9c0')">
                        <td colspan="2" class="td27" s="1">
                            自定义 Logo:
                            <a id="faqd9c0" class="faq" title="查看更多提示" href="http://faq.comsenz.com/?type=admin&amp;ver=X3.2&amp;action=nav&amp;operation=headernav&amp;key=misc_customnav_logo"target="_blank" style="display:none">
                                &nbsp;&nbsp;&nbsp;
                            </a>
                        </td>
                    </tr>
                    <tr class="noborder" onmouseover="setfaq(this, 'faqd9c0')">
                        <td class="vtop rowform">
                            <input id="filevZ_0" style="display:" name="logonew" value="" class="txt uploadbtn marginbot"type="file">
                            <input id="filevZ_1" style="display:none" name="TMPlogonew" class="txt marginbot"type="text">
                            <br>
                            <a id="filevZ_0a" style="font-weight:bold" href="javascript:;" onclick="$('filevZ_1a').style.fontWeight = '';this.style.fontWeight = 'bold';$('filevZ_1').name = 'TMPlogonew';$('filevZ_0').name = 'logonew';$('filevZ_0').style.display = '';$('filevZ_1').style.display = 'none'">
                                上传文件
                            </a>
                            &nbsp;
                            <a id="filevZ_1a" style="" href="javascript:;" onclick="$('filevZ_0a').style.fontWeight = '';this.style.fontWeight = 'bold';$('filevZ_0').name = 'TMPlogonew';$('filevZ_1').name = 'logonew';$('filevZ_1').style.display = '';$('filevZ_0').style.display = 'none'">
                                输入 URL
                            </a>
                        </td>
                        <td class="vtop tips2" s="1">
                            设置此导航下所涉及页面的 Logo，留空表示使用风格中的 Logo
                        </td>
                    </tr>
                    <tr onmouseover="setfaq(this, 'faq330e')">
                        <td colspan="2" class="td27" s="1">
                            导航权限:
                            <a id="faq330e" class="faq" title="查看更多提示" href="http://faq.comsenz.com/?type=admin&amp;ver=X3.2&amp;action=nav&amp;operation=headernav&amp;key=misc_customnav_level"target="_blank" style="display:none">
                                &nbsp;&nbsp;&nbsp;
                            </a>
                        </td>
                    </tr>
                    <tr class="noborder" onmouseover="setfaq(this, 'faq330e')">
                        <td class="vtop rowform">
                            <select name="levelnew">
                                <option value="0" selected="selected">
                                    不限制
                                </option>
                                <option value="1">
                                    会员
                                </option>
                                <option value="2">
                                    版主
                                </option>
                                <option value="3">
                                    管理员
                                </option>
                            </select>
                        </td>
                        <td class="vtop tips2" s="1">
                            设置哪些用户组的用户才可看到此导航
                        </td>
                    </tr>
                    <tr onmouseover="setfaq(this, 'faq6e5a')">
                        <td colspan="2" class="td27" s="1">
                            二级导航样式:
                            <a id="faq6e5a" class="faq" title="查看更多提示" href="http://faq.comsenz.com/?type=admin&amp;ver=X3.2&amp;action=nav&amp;operation=headernav&amp;key=misc_customnav_subtype"target="_blank" style="display:none">
                                &nbsp;&nbsp;&nbsp;
                            </a>
                        </td>
                    </tr>
                    <tr class="noborder" onmouseover="setfaq(this, 'faq6e5a')">
                        <td class="vtop rowform">
                            <ul class="nofloat" onmouseover="altStyle(this);">
                                <li class="checked">
                                    <input class="radio" name="subtypenew" value="0" checked="checked" onclick="$('subcols').style.display = 'none';"type="radio">
                                    &nbsp;菜单样式
                                </li>
                                <li>
                                    <input class="radio" name="subtypenew" value="1" onclick="$('subcols').style.display = '';"type="radio">
                                    &nbsp;横排样式
                                </li>
                            </ul>
                        </td>
                        <td class="vtop tips2" s="1">
                            如果此主导航存在二级导航，设置二级导航样式是以菜单方式显示，还是以横排方式显示
                        </td>
                    </tr>
                </tbody>
                <tbody class="sub" id="subcols" style="display: none">
                    <tr onmouseover="setfaq(this, 'faqa055')">
                        <td colspan="2" class="td27" s="1">
                            横排一行显示的条目数:
                            <a id="faqa055" class="faq" title="查看更多提示" href="http://faq.comsenz.com/?type=admin&amp;ver=X3.2&amp;action=nav&amp;operation=headernav&amp;key=misc_customnav_subcols"target="_blank" style="display:none">
                                &nbsp;&nbsp;&nbsp;
                            </a>
                        </td>
                    </tr>
                    <tr class="noborder" onmouseover="setfaq(this, 'faqa055')">
                        <td class="vtop rowform">
                            <input name="subcolsnew" value="0" class="txt" type="text">
                        </td>
                        <td class="vtop tips2" s="1">
                            设置横排一行显示的条目数，留空表示不限制，文字超出自动换行
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="15">
                            <div class="fixsel">
                                <input class="btn" id="submit_editsubmit" name="editsubmit" title="按 Enter 键可随时提交您的修改"value="提交" type="submit">
                            </div>
                        </td>
                    </tr>
                    <script type="text/JavaScript">
                        _attachEvent(document.documentElement, 'keydown',
                        function(e) {
                            entersubmit(e, 'editsubmit');
                        });
                    </script>
                </tbody>
            </table>
        </form>
    </div>
    
{XT:}include file="../footer.html"{/XT}