{XT:}include file="../header.html"{/XT}

    <title>
        管理中心 - 首页
    </title>
</head>

<body style="margin: 0px" scroll="no">
    <div id="append_parent">
    </div>
    <div id="ajaxwaitid">
    </div>
    <div class="container" id="cpcontainer">
        <table class="tb tb2 fixpadding">
            <tbody>
                <tr>
                    <th colspan="15" class="partition">
                        系统信息
                    </th>
                </tr>
                <tr>
                    <td class="vtop td24 lineheight">
                        Discuz! 程序版本
                    </td>
                    <td class="lineheight smallfont">
                        Discuz! X3.2 Release 20141225
                        <a href="http://faq.comsenz.com/checkversion.php?product=Discuz&amp;version=X3.2&amp;release=20141225&amp;charset=utf-8&amp;dbcharset="
                           class="lightlink2 smallfont" target="_blank">
                            查看最新版本
                        </a>
                        <a href="http://www.comsenz.com/purchase/discuz/" class="lightlink2 smallfont"
                           target="_blank">
                            专业支持与服务
                        </a>
                        <a href="http://idc.comsenz.com/" class="lightlink2 smallfont" target="_blank">
                            Discuz!专用主机
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="vtop td24 lineheight">
                        UCenter 客户端版本
                    </td>
                    <td class="lineheight smallfont">
                        UCenter 1.6.0 Release 20141101
                    </td>
                </tr>
                <tr>
                    <td class="vtop td24 lineheight">
                        服务器系统及 PHP
                    </td>
                    <td class="lineheight smallfont">
                        WINNT / PHP v5.4.33
                    </td>
                </tr>
                <tr>
                    <td class="vtop td24 lineheight">
                        服务器软件
                    </td>
                    <td class="lineheight smallfont">
                        Apache/2.4.10 (Win32) OpenSSL/0.9.8zb mod_fcgid/2.3.9
                    </td>
                </tr>
                <tr>
                    <td class="vtop td24 lineheight">
                        服务器 MySQL 版本
                    </td>
                    <td class="lineheight smallfont">
                        5.5.40
                    </td>
                </tr>
                <tr>
                    <td class="vtop td24 lineheight">
                        上传许可
                    </td>
                    <td class="lineheight smallfont">
                        2M
                    </td>
                </tr>
                <tr>
                    <td class="vtop td24 lineheight">
                        当前数据库尺寸
                    </td>
                    <td class="lineheight smallfont">
                        3.13 MB
                    </td>
                </tr>
                <tr>
                    <td class="vtop td24 lineheight">
                        当前附件尺寸
                    </td>
                    <td class="lineheight smallfont">
                        <a href="http://localhost/discuz/admin.php?action=index&amp;attachsize">
                            [ 详情 ]
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>