<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{XT:}$config.sitedomain{/XT}/Public/Admin/CSS/index.css" type="text/css" media="all" />
    <script src="{XT:}$config.sitedomain{/XT}/Public/Common/JS/jquery-1.8.0.min.js">
    </script>
    <script src="{XT:}$config.sitedomain{/XT}/Public/Common/JS/common.js">
    </script>
    <script src="{XT:}$config.sitedomain{/XT}/Public/Admin/JS/common.js">
    </script>
    <link rel="stylesheet" href="{XT:}$config.sitedomain{/XT}/Public/Common/JS/easydialog/easydialog.css" type="text/css" media="all" />
    <script src="{XT:}$config.sitedomain{/XT}/Public/Common/JS/easydialog/easydialog.min.js">
    </script>