 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员中心</title>
</head>

<body>
{XT:}member from=$MemberList item=one usertype=$smarty.get.usertype ispage=1 pagesize=10 pagename='abc' name=member1{/XT}
	{XT:}$one.username{/XT}<br />{XT:}I('cityid'){/XT}<br />
{XT:}/member{/XT}
{XT:}$abc{/XT}

{XT:}member item=one usertype=$smarty.get.usertype limit=30 name=member2{/XT}
	{XT:}$one.username{/XT}<br />{XT:}I('cityid'){/XT}<br />
{XT:}/member{/XT}
</body>
</html>
