<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="{XT:}$config.sitedomain{/XT}/Public/Common/JS/jquery-1.8.0.min.js"></script>
    <script src="{XT:}$config.sitedomain{/XT}/Public/Common/JS/common.js"></script>
    <script src="{XT:}$config.sitedomain{/XT}/Public/Admin/JS/common.js"></script>
    <link rel="stylesheet" href="{XT:}$config.sitedomain{/XT}/Public/Common/JS/easydialog/easydialog.css" type="text/css" media="all" />
    <script src="{XT:}$config.sitedomain{/XT}/Public/Common/JS/easydialog/easydialog.min.js"></script>
    <title>前台首页</title>
</head>

<body>
    <a target="_blank" href="{XT:}U('Home/Login/Index'){/XT}">主页</a>
	<a target="_blank" href="{XT:}U('Admin/Index/Index'){/XT}">后台管理</a>
    <a target="_blank" href="{XT:}U('Admin/Login/Index'){/XT}">后台登录</a>
    <div>
        <div>股票模块</div>
        <a target="_blank" href="{XT:}U('Stock/Xijia/Index'){/XT}">西班牙甲级联赛</a>
        <a target="_blank" href="javascript:;">获取股票</a>
        <form action="{XT:}U('Stock/Index/Get'){/XT}" method="post" target="PostReturnIframe">
            <input type="text" name="min" value="1" />
            <input type="text" name="max" value="1000" />
            <input type="submit" name="submit" value="提交" />
        </form>
        <a target="_blank" href="javascript:;">获取股票历史数据</a>
        <form action="{XT:}U('Stock/Index/Getdata'){/XT}" method="post" target="PostReturnIframe">
            <input type="text" name="min" value="1" />
            <input type="text" name="max" value="1000" />
            <input type="submit" name="submit" value="提交" />
        </form>
        <a target="_blank" href="javascript:;">转换到数据库</a>
        <form action="{XT:}U('Stock/Index/Convert'){/XT}" method="post" target="PostReturnIframe">
            <select name="type">
                <option value="all">全部</option>
                <option value="team">仅球队</option>
                <option value="match">仅比赛</option>
            </select>
            <input type="text" name="min" value="1" />
            <input type="text" name="max" value="100" />
            <input type="submit" name="submit" value="提交" />
        </form>
        <a target="_self" href="javascript:;">删除错误文件</a>
        <form action="{XT:}U('Stock/Index/Delete'){/XT}" method="post" target="PostReturnIframe">
            <input type="text" name="min" value="1" />
            <input type="text" name="max" value="1000" />
            <input type="submit" name="submit" value="提交" />
        </form>
    </div>
    <iframe id="PostReturnIframe" name="PostReturnIframe" style="display:none;"></iframe>
</body>
</html>
